<section class="contact">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <app-star [title]="title" [customColor]="customColor"></app-star>
        </div>
        <div class="row w-75">
            <form action="">
                <div class="form-group">
                    
                    <input type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    
                    <input type="number" class="form-control" placeholder="User Age">
                </div>
                <div class="form-group">
                    
                    <input type="email" class="form-control" placeholder="User Email">
                </div>
                <div class="form-group">
                    
                    <input type="password" class="form-control" placeholder="User Password">
                </div>
                
                <button type="submit">send message</button>
            </form>
        </div>
    </div>
</section>