<section class="home">
    <div class="container">
        <div class="row  d-flex justify-content-center align-items-center flex-column">
            <div class="col-sm-6">
                <div class="home gap-2 d-flex justify-content-center align-items-center flex-column">
                    <div class="home-img ">
                        <img class="img-fluid w-100" [src]="homeImgSrc" alt="">
                    </div>
                    <div >
                        <app-star [title]="title" [customColor]="customColor"></app-star>
                    </div>
                    
                    <div class="home-list text-white">
                        <p>Graphic Artist - Web Designer - Illustrator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>